<ng-container *transloco="let t">
    <div class="coins">
        <div class="coins__title">
            {{ t('countries.' + currentContinent + '.name') }}
        </div>
        <div class="coins__container">
            <div class="coins__row coins__header">
                <div class="coins__column">
                    {{ t('collection.country') }}
                </div>
                <div class="coins__column">{{ t('collection.type') }}</div>
                <div class="coins__column">
                    {{ t('collection.denomination') }}
                </div>
                <div class="coins__column">
                    {{ t('collection.currency') }}
                </div>
                <div class="coins__column">{{ t('collection.year') }}</div>
                <div class="coins__column">
                    {{ t('collection.material') }}
                </div>
                <div class="coins__column">
                    {{ t('collection.comment') }}
                </div>
                <div class="coins__column">{{ t('collection.photo') }}</div>
                <div class="coins__column"></div>
            </div>
            <div *ngIf="coins?.length > 0; else placeholder">
                <div class="coins__row" *ngFor="let coin of coins">
                    <div class="coins__column">
                        {{
                            t(
                                'countries.' +
                                    [coin.continent] +
                                    '.countries.' +
                                    [coin.country] +
                                    '.name'
                            )
                        }}
                    </div>
                    <div class="coins__column">
                        {{ coin.type }}
                    </div>
                    <div class="coins__column">
                        {{ coin.denomination }}
                    </div>
                    <div class="coins__column">
                        {{ coin.currency }}
                    </div>
                    <div class="coins__column">
                        {{ coin.year }}
                    </div>
                    <div class="coins__column">
                        {{ coin.material }}
                    </div>
                    <div class="coins__column">
                        {{ coin.comment }}
                    </div>
                    <div class="coins__column coins__column--photo">
                        <img
                            *ngFor="let image of coin.image"
                            [src]="image"
                            (click)="openCoinImageDialog(coin.image)"
                            alt="coin"
                        />
                    </div>
                    <div class="coins__column coins__column--edit">
                        <button
                            mat-raised-button
                            color="primary"
                            (click)="openDialog(coin)"
                        >
                            {{ t('collection.edit') }}
                        </button>
                        <button
                            mat-raised-button
                            color="warn"
                            (click)="openCoinDeleteDialog(coin.id)"
                        >
                            {{ t('collection.delete') }}
                        </button>
                    </div>
                </div>
            </div>
            <ng-template #placeholder>
                <div class="coins__placeholder">Монеты еще не добавлены</div>
            </ng-template>
        </div>
    </div>
</ng-container>
