.new-coin-dialog {
  &__title {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }

  &__section {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:nth-child(3), &:nth-child(9), &:nth-child(11) {
      * {
        width: 100%;
      }
    }

    &:last-child {
      justify-content: flex-end;
    }
  }
}
