.collection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2rem;
    width: calc(33.33333% - 3.5rem);
    height: 5rem;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
  }
}
