<ng-container *transloco="let t">
    <div class="administration">
        <form [formGroup]="countryForm">
            <section>
                <mat-form-field appearance="fill">
                    <mat-label>{{ 'Введите название континента' }}</mat-label>
                    <mat-select formControlName="continent">
                        <mat-option
                            *ngFor="
                                let continent of t('continents');
                                index as i
                            "
                            [value]="t('continents')[i]"
                        >
                            {{ t('continents')[i].name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field appearance="fill">
                    <mat-label>{{
                        'Введите название страны по-русски'
                    }}</mat-label>
                    <input matInput formControlName="ru" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>{{
                        'Введите название страны по-английски'
                    }}</mat-label>
                    <input matInput formControlName="en" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>{{
                        'Введите название страны по-испански'
                    }}</mat-label>
                    <input matInput formControlName="es" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>{{
                        'Введите название страны по-немецки'
                    }}</mat-label>
                    <input matInput formControlName="de" />
                </mat-form-field>
            </section>
            <!--      <button mat-raised-button color="primary" (click)="addCountry()">{{ 'Добавить новую страну' }}</button>-->
            <button mat-raised-button color="primary">
                {{ 'Добавить новую страну' }}
            </button>
        </form>
    </div>
</ng-container>
