<form [formGroup]="countryForm">
  <section>
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>{{ 'Введите название континента по-русски' }}</mat-label>-->
<!--      <input matInput formControlName="continentRu">-->
<!--    </mat-form-field>-->
    <mat-form-field appearance="fill">
      <mat-label>{{ 'Введите название страны по-русски' }}</mat-label>
      <input matInput formControlName="countryRu">
    </mat-form-field>
  </section>
<!--  <section>-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>{{ 'Введите название континента по-английски' }}</mat-label>-->
<!--      <input matInput formControlName="continentEn">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>{{ 'Введите название страны по-английски' }}</mat-label>-->
<!--      <input matInput formControlName="countryEn">-->
<!--    </mat-form-field>-->
<!--  </section>-->
<!--  <section>-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>{{ 'Введите название континента по-испански' }}</mat-label>-->
<!--      <input matInput formControlName="continentEs">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>{{ 'Введите название страны по-испански' }}</mat-label>-->
<!--      <input matInput formControlName="countryEs">-->
<!--    </mat-form-field>-->
<!--  </section>-->
<!--  <section>-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>{{ 'Введите название континента по-немецки' }}</mat-label>-->
<!--      <input matInput formControlName="continentDe">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>{{ 'Введите название страны по-немецки' }}</mat-label>-->
<!--      <input matInput formControlName="countryDe">-->
<!--    </mat-form-field>-->
<!--  </section>-->
  <button mat-raised-button color="primary" (click)="addCountry()">{{ 'Добавить новую страну' }}</button>
</form>


